{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "index_fechas" %}">Control Precios</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "index_fechas" %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "agregar_producto" %}">Agregar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "scanning" %}">Nuevo Vencimiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "listado_productos" %}">Productos</a>
          </li>
          <li class="nav-item">
            <a href="{% url "vencimientos" %}" class="nav-link">Vencimientos</a>
          </li>
       
       
        </ul>
      </div>
    </div>
  </nav>
{% endblock navbar %}

